In [1]:
l=[10,20,9,100,89,500]
l.sort()
print("maximum number in a list is ",l[-1])
print("second maximum number in a list is ",l[-2])

maximum number in a list is  500
second maximum number in a list is  100

In [3]:
# find the min and max without out using predefinied function
l=[10,20,9,100,89,500]
m=l[0]    #m=10
for i in l:    # 500
    if(i>m):     # i>m =>500>100
        m=i       # m=i=>m=500
print("maximun number in a list is",m)

maximun number in a list is 500

In [4]:
# find the min number in a list
l=[10,20,9,100,89,500]
m=l[0]    #m=100
for i in l:    # 500
    if(i<m):     # i>m =>500>100
        m=i       # m=i=>m=500
print("min number in a list is",m)

min number in a list is 9

In [5]:
# sort the list of elements without using predefined function
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[9, 10, 20, 89, 100, 500]

In [6]:
# sort the list of elements without using predefined function in reverse order
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]<l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[500, 100, 89, 20, 10, 9]

In [8]:
# find the prime number ina list
l=[2,3,4,5,6,7,8,9,10,11]    #2,3,5,7,11
plist=[]
for i in l:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
        print("prime number is ",i)
        plist.append(i)
plist

prime number is  2
prime number is  3
prime number is  5
prime number is  7
prime number is  11

[2, 3, 5, 7, 11]

In [9]:
# print the squares of a list elements
l=[1,2,3,4]
li=[]
for i in l:
    li.append(i**2)
li

[1, 4, 9, 16]

### Tuples:
  - Tuples is like a lists
  - Tuples are immutable list
  - Tuplesare create by using()

In [10]:
t=(1,2,3,"hello",4.5,9.9)
type(t)

tuple

In [11]:
t=(1,2,3,[10,20,30],"hello",6.77)
t

(1, 2, 3, [10, 20, 30], 'hello', 6.77)

In [12]:
l=[(1,2,3),("hello","welcome","to","all"),10,20,]
l

[(1, 2, 3), ('hello', 'welcome', 'to', 'all'), 10, 20]

### access elements from tuples

In [13]:
t=(1,2,3,"hello","5.7")
t[-1]
t[1:]
t[-2]
t[::-1] # start,end,step
t[0::2] # start,end,step

(1, 3, '5.7')

In [14]:
t=([1,2,3],[4,5,6])
t[0]
t[1]
t[1][0]

4

In [15]:
l=[1,2,3,4,5,6]
l[0]=100
l

[100, 2, 3, 4, 5, 6]

In [16]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [17]:
t=(1,2,3,4,5,6,"hello","good",1,1)
t.count(1)

3

In [18]:
t.index(3)

2

### sets:
 - set is a un-order data elements
 - set can be create by using {}
 - set didn't allow the duplicate elements

In [19]:
# create a set
s={"hello","good",1,2,3,4,5,}
type(s)

set

In [20]:
s=set()
type(s)

set

In [21]:
s={}
type(s)

dict

In [22]:
# without passing elements that object return dictionary
s={}
type(s)

dict

In [23]:
s={1,1,1,1,2,2,2,3,3,4,5,100.101,3.5,"hello","hello"}
s

{1, 100.101, 2, 3, 3.5, 4, 5, 'hello'}

In [24]:
s={10,20,30,"nice","cook"}
s

{10, 20, 30, 'cook', 'nice'}

In [25]:
# access the data by using for loop
s={10,20,30,"nice","cook"}
for i in s:
    print(i)

cook
10
nice
20
30

In [26]:
s={1,2,3,(10,20,30),"good"}
s

{(10, 20, 30), 1, 2, 3, 'good'}

In [27]:
l=[10,20,30,10,20]
s=set(l)
s

{10, 20, 30}

In [28]:
s={1,2,3,4,5}
s.add("hello")
s.add(100)
s

{1, 100, 2, 3, 4, 5, 'hello'}

In [29]:
# clear
s.clear()
s

set()

In [30]:
del(s)

In [31]:
s={1,2,3,4,5}
s_copy=s.copy()
s_copy

{1, 2, 3, 4, 5}

In [32]:
# difference s1-s2
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.difference(s2)    # s1-s2
s2.difference(s1)    # s2-s1

{10, 20, 30}

In [33]:
s

{1, 2, 3, 4, 5}

In [34]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [35]:
s2

{1, 2, 5, 10, 20, 30}

In [36]:
s1.difference(s2)

{3, 4, 6, 7}

In [37]:
s2.difference(s1)

{10, 20, 30}

In [38]:
s1.difference_update(s2)

In [39]:
s1

{3, 4, 6, 7}

In [40]:
s1={1,2,3,4,5,6,7}
s1.discard(2)
s1

{1, 3, 4, 5, 6, 7}

In [41]:
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.intersection(s2)

{1, 2, 5}

In [42]:
s1={1,2,3,4,5}
s2={10,20,30,40,50}
s1.isdisjoint(s2)

True

In [43]:
s1={1,2,3,4,5}
s2={10,20,30,40,50,1}
s1.isdisjoint(s2)

False

In [45]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s1.issubset(s2)

False

In [46]:
s2.issubset(s1)

True

In [48]:
s1={1,2,3,4,5,6}
s2={1,2,3}
s1.issuperset(s2)

True

In [49]:
s2.issuperset(s1)

False

In [50]:
s={10,20,1,2,3,4,5}
s.pop()

1

In [51]:
s

{2, 3, 4, 5, 10, 20}

In [53]:
s={10,20,1,2,3,4,5}
s.remove(10)
s

{1, 2, 3, 4, 5, 20}

In [54]:
s.discard(3)
s

{1, 2, 4, 5, 20}

In [55]:
a={1,2,3,4,5,6,7}
b={1,2,20,30,40,50}
a.symmetric_difference(b)

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [56]:
a

{1, 2, 3, 4, 5, 6, 7}

In [57]:
b

{1, 2, 20, 30, 40, 50}

In [58]:
a.symmetric_difference_update(b)

In [59]:
a

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [60]:
a={1,2,4}
b={4,5,6,7}
a.union(b)

{1, 2, 4, 5, 6, 7}