In [1]:
print("Welcome to the Collections concept in python")

Welcome to the Collections concept in python

# Collections in python 
    - List
    - Tuple
    - Set
    - Dictionary

# List 
 - List data can be represented by using [] or list()
 - List allow duplicate value
 - We can manupulate data by using indexing and Slicing
 - Oredered format values are stored in a list

In [1]:
List1=[1,2,3]
List1

[1, 2, 3]

In [2]:
List2=["Kalyan","Badulla","Rakesh"]
List2

['Kalyan', 'Badulla', 'Rakesh']

In [3]:
list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [4]:
# Indexing 
list3[2]

'Sam'

In [5]:
list3[4]

'Nayan'

In [6]:
list3[5]

3

In [7]:
list3[-1]

3

In [8]:
list3[-4]

'Sam'

In [9]:
list3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [10]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [11]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [12]:
list3[0:4]

['Ram', 1, 'Sam', 2]

In [13]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [14]:
list3[1:4]

[1, 'Sam', 2]

In [15]:
list3[-2:1:-1]

['Nayan', 2, 'Sam']

In [16]:
list3[2:0:-1]

['Sam', 1]

In [17]:
list3[4::-3]

['Nayan', 1]

In [18]:
demo=list3[1:3]
demo

[1, 'Sam']

In [19]:
demo[::-1]

['Sam', 1]

In [20]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [21]:
list3.append("Mounika")
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Mounika']

In [22]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [23]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [24]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [25]:
list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [26]:
list5.pop()
list5

[1, 2, 3, 'a']

In [27]:
list5.pop(2)
list5

[1, 2, 'a']

In [28]:
list5.clear()
list5

[]

In [36]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [37]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [38]:
list5.insert(3,"Aravind")
list5

[1, 2, 3, 'Aravind', 'a', 'b', 'c']

In [39]:
list7=list5 + list6
list7

[1, 2, 3, 'Aravind', 'a', 'b', 'c', 'a', 'b', 'c']

In [40]:
for  data in list5:
  print(data)

1
2
3
Aravind
a
b
c

In [41]:
employee=["sam","Mounica","Bhanu"]
manager=["Rakesh","vamsi","Madhavi"]
for emp in employee:
  manager.append(emp)

print(manager)

['Rakesh', 'vamsi', 'Madhavi', 'sam', 'Mounica', 'Bhanu']

In [42]:
if "vamsi" in manager:
  print("He is in manager list")
else:
  print("No he is not one of the manager")

He is in manager list

In [43]:
list5.extend(list6)
list5

[1, 2, 3, 'Aravind', 'a', 'b', 'c', 'a', 'b', 'c']

In [44]:
list5.count(2)

1

In [ ]:
# In a given list i want to get 2nd highest value
Example: 
i/p:   321321
       3213
       121
       2
       3244234
       332443 
o.p:    332443

In [46]:
marks=[]
marks_size=int(input("Enter how many marks are there"))
for data in range(marks_size):
   marks_list=int(input("Enter Marks"))
   marks.append(marks_list)

print("Entered Marks are ", marks)
def secondHighest(marks):
  marks.sort()
  return marks[-2]

secondHighest(marks)

Enter how many marks are there7
Enter Marks34
Enter Marks12
Enter Marks22
Enter Marks1
Enter Marks2
Enter Marks3
Enter Marks4
Entered Marks are  [34, 12, 22, 1, 2, 3, 4]

22