# Keywords

In [ ]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

help> class
Class definitions
*****************

A class definition defines a class object (see section The standard
type hierarchy):

   classdef    ::= [decorators] "class" classname [inheritance] ":" suite
   inheritance ::= "(" [argument_list] ")"
   classname   ::= identifier

A class definition is an executable statement.  The inheritance list
usually gives a list of base classes (see Metaclasses for more
advanced uses), so each item in the list should evaluate to a class
object which allows subclassing.  Classes without an inheritance list
inherit, by default, from the base class "object"; hence,

   class Foo:
       pass

is equivalent to

   class Foo(object):
       pass

The class’s suite is then executed in a new execution frame (see
Naming and binding), using a newly created local namespace and the
original global namespace. (Usually, the suite contains mostly
function definitions.)  When the class’s suite finishes execution, its
execution frame is discarded but its local namespace is saved. [3] A
class object is then created using the inheritance list for the base
classes and the saved local namespace for the attribute dictionary.
The class name is bound to this class object in the original local
namespace.

The order in which attributes are defined in the class body is
preserved in the new class’s "__dict__".  Note that this is reliable
only right after the class is created and only for classes that were
defined using the definition syntax.

Class creation can be customized heavily using metaclasses.

Classes can also be decorated: just like when decorating functions,

   @f1(arg)
   @f2
   class Foo: pass

is roughly equivalent to

   class Foo: pass
   Foo = f1(arg)(f2(Foo))

The evaluation rules for the decorator expressions are the same as for
function decorators.  The result is then bound to the class name.

**Programmer’s note:** Variables defined in the class definition are
class attributes; they are shared by instances.  Instance attributes
can be set in a method with "self.name = value".  Both class and
instance attributes are accessible through the notation “"self.name"”,
and an instance attribute hides a class attribute with the same name
when accessed in this way.  Class attributes can be used as defaults
for instance attributes, but using mutable values there can lead to
unexpected results.  Descriptors can be used to create instance
variables with different implementation details.

See also:

  **PEP 3115** - Metaclasses in Python 3000
     The proposal that changed the declaration of metaclasses to the
     current syntax, and the semantics for how classes with
     metaclasses are constructed.

  **PEP 3129** - Class Decorators
     The proposal that added class decorators.  Function and method
     decorators were introduced in **PEP 318**.

Related help topics: CLASSES, SPECIALMETHODS

## operators:
    -it is symbol
    -it will perform arithmetic and logical operations       
### types of operators:
     -Arithmetic
         -,+,*,/,%,**,//(floor division)
     -Relational
     -logical
     -bitwise
     -Assignment
     -Membership
     -identity

In [2]:
# Arithmetic operators
a=10
b=20

In [3]:
a+b

30

In [4]:
a-b

-10

In [5]:
a*b

200

In [6]:
a/b

0.5

In [7]:
a%b

10

In [8]:
a**b

100000000000000000000

In [9]:
a//b

0

In [10]:
5/2

2.5

In [11]:
5//2

2

In [12]:
2**2

4

In [13]:
2**5

32

In [14]:
pow(2,5)

32

In [15]:
'b'*2

'bb'

In [16]:
'a'*2

'aa'

In [17]:
'c'*4

'cccc'

In [18]:
s= 'hello'
s*3

'hellohellohello'

## Relational operators:
     - by using this operators we will compare two opreands or values
     - they are <,>,<=,>=,==,!=

In [21]:
a,b

(10, 20)

In [22]:
a<b

True

In [23]:
a>b

False

In [25]:
10<10

False

In [26]:
10<=10

True

In [27]:
10>10

False

In [28]:
10>=10

True

In [29]:
'nagendra'=='nagendra'

True

In [30]:
'nagendra babu'=='nagendra'

False

In [31]:
'ab'<'cd'

True

In [32]:
'z'>'s'

True

In [33]:
'nagendra'!='nagendrababu'

True

In [34]:
'A'<'a'

True

In [36]:
chr(65)

'A'

In [37]:
ord('a')

97

In [38]:
chr(65)

'A'

## Logical operators:
- by using this operators we will compare two conditions
- and,or,not

In [40]:
5<6 and 6<7 # true and true

True

In [41]:
6>7 and 6<8 # false and true

False

In [42]:
4<8 and 6>3

True

In [43]:
5>6 or 7<8 # false or true

True

In [44]:
5<7 or 6<3

True

In [45]:
not 5<6

False

## bitwise operators:
- we will use bitwise operators to check binary values
- &,|,^,<<,>>

In [50]:
#2 -->0010
#3 -->0011
#-----------
        #0010--->2
2&3

2

In [60]:
#3--->0011
#4--->0100
#---------
#    0010--->2
3&4

0

In [61]:
#2--->0010
#3--->0100
#------
#  0011--->3
2|3

3

In [62]:
#3--->0011
#4--->0100
#---------
#    0010--->2
3|4

7

In [63]:
2^3

1

In [64]:
#3--->0011
#4--->0100
#---------
#    0010--->7
3^4

7

In [1]:
2<<1
#2--->0010
#0100--->4

4

In [2]:
2>>1
#2--->0010
# 0001-->1

1

In [3]:
2>>2
#2--->0010
# 000--->0

0

In [4]:
2<<2

8