## Operators:
    - Assignment operators
    - membership operators
    - identity operators

## Assignment operators
    -

In [15]:
a=20
a

20

In [16]:
a+=2
a

22

In [17]:
a-=2
a

20

In [20]:
a*=2
a

160

## membership operators:

In [1]:
arr=[1,2,3,4,5,6]
inp=3
inp in arr

True

In [2]:
10 in arr

False

In [5]:
s1 = 'nagendra'
'b' in s1

False

In [6]:
'nagendra' in s1

True

In [7]:
bits = '001001000111'
'00' in bits

True

In [8]:
4 not in arr

False

In [9]:
arr

[1, 2, 3, 4, 5, 6]

## identity operators:
  - by using this operators we compare values
  - they are is, is not

In [10]:
'abc' is 'abcc'

False

In [11]:
'abc' is 'cbd'

False

In [12]:
123 is 123

True

In [14]:
123 is not 1234

True

## Conditional control statememts:
  - it controlthe flow of execution based on condition
  - for that we have few diff type of statements
  - conditional statements
  - looping statements
  - jump statements

## conditional statements:
   - if
        - if (condition):
             statement
          
   - if else
   - nested
   - else if ladder

In [21]:
if(5<6):
    print('true')

true

In [24]:
if(4<6):
    print('true')

true

In [25]:
if(5<6):
    print('true')
    print("5 is small")

true
5 is small

In [26]:
if(5<6):
    print('true')
    print("5 is small")
print('i am out of if')

true
5 is small
i am out of if

In [27]:
if(51<6):
    print('true')
    print("5 is small")
print('i am out of if')

i am out of if

In [29]:
if(51<6):
    print('true')
  print("5 is small")
print('i am out of if')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [30]:
if(51<6):
    print('true')
print("5 is small")
print('i am out of if')

5 is small
i am out of if

In [31]:
if(51<6):
    print('true')
    print("5 is small")
print('i am out of if')

i am out of if

In [33]:
if (4>7): 
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [35]:
if (23>7): 
    print('i am inside if block')
else:
    print('i am inside else block')
print('i am going to exit')

i am inside if block
i am going to exit

In [37]:
if (4>7): 
    print('i am inside if block')
    print('just added')
else:
    print('i am inside else block')

i am inside else block

In [40]:
if (4>7): 
    print('i am inside if block')         
else:
    print('i am inside else block')

i am inside else block

In [41]:
if (5<6):
    if(6<7):
        print ('6 is existed in b/w 5 and 6')
    else:
        print('worng choice')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [42]:
if((5<6) and (6<7)):
    print ('6 is existed in b/w 5 and 6')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [46]:
if(343<67):
    print('true')
elif(34<45):
    print('i am from elif')
else:
    print('false')

i am from elif

 #task1: write a logic of find biggest of 2 numbers 34 and 234 
 #task2: biggest of  3 numbers
#task3: find the given number  is even or not
     - if it is even print power of that value
     - otherwise print multiply that value with 5
#task4: write a logic to find a given number is 5 multiple or not

In [49]:
a=10
print(a, 'is big')

10 is big

In [8]:
n= int (input('enter a value:'))
if (n%5==0):
    print(' it is 5 multiple')
else:
    print('it is not 5 multiple')

enter a value:10
 it is 5 multiple

In [17]:
n = int(input())
if n%2==0:
    print(pow(n,2))
else:
    print(n*5)

3
15