## Looping statements:
   - to perform a task multiple times
   - in python ,for and while only
### For loop
   - ''' for in range():
         #body of the loop '''
         
   - here i is a etraction

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
for p in range(10):
    print(p)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10):
     print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(10):
     print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [6]:
for i in range(1,10):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [7]:
for i in range(0,15,2):
    print(i,end=' ')

0 2 4 6 8 10 12 14

In [8]:
## generate 5 to 10 multiples upto 10
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [10]:
# generate a math table for given number
# input: enter ano to generate math table:12
# output:12*1=12
#        12*2=24.....12*10=120
a=int(input('enter a number to print a table:'))
for n in range(1,11):
     print(a, "*", n, "=", a*n)

enter a number to print a table:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
## task1: generate math tables from upto given range
## input: 5
# 2,3,4,5 tables

### while loop
     - ''' i=0
      while(condition):
      #body of the loop
      increment/decrement '''

In [11]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

1
2
3
4
5
6
7
8
9
10
11

### Jump Statements:
  - by using these statements we will terminate(exit) the loop
  - those are break and continue
  - break: break state will terminate the loop per
  - continue:it will terminate for instant time only

In [12]:
for i in range(100):
    if(i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [13]:
for i in range(1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [14]:
for i in range(1,101):
    if(i%5==0):
        continue
    print(i,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [3]:
#task2: generate even numbers upto 100(use range with 3 arguments)
# input: enter start value:5
#output:6,8,10,.......,100
a=int(input('enter a number:'))
for n in range(5, 100 + 1): 
    if n % 2 == 0: 
        print(n, end = " ")

enter a number:9
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100